src/wsdl/movimientosService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tns="http://www.ejemplo.com/wsdl/movimientos" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://www.ejemplo.com/wsdl/movimientos">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ejemplo.com/wsdl/movimientos">
      <!-- Definición de tipos para movimientos -->
      <xsd:complexType name="Movimiento">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="fecha_movimiento" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="tipo_movimiento_id" type="xsd:int"/>
          <xsd:element name="producto_id" type="xsd:int"/>
          <xsd:element name="ubicacion_origen_id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="ubicacion_destino_id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="cantidad" type="xsd:int"/>
          <xsd:element name="documento_referencia" type="xsd:string" minOccurs="0"/>
          <xsd:element name="usuario_id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="notas" type="xsd:string" minOccurs="0"/>
          <xsd:element name="tipo_movimiento_nombre" type="xsd:string" minOccurs="0"/>
          <xsd:element name="afecta_stock" type="xsd:int" minOccurs="0"/>
          <xsd:element name="ubicacion_origen_nombre" type="xsd:string" minOccurs="0"/>
          <xsd:element name="ubicacion_destino_nombre" type="xsd:string" minOccurs="0"/>
          <xsd:element name="producto" type="xsd:anyType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="TipoMovimiento">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="codigo" type="xsd:string"/>
          <xsd:element name="nombre" type="xsd:string"/>
          <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
          <xsd:element name="afecta_stock" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MovimientoCreate">
        <xsd:sequence>
          <xsd:element name="tipoMovimientoId" type="xsd:int"/>
          <xsd:element name="productoId" type="xsd:int"/>
          <xsd:element name="ubicacionOrigenId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="ubicacionDestinoId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="cantidad" type="xsd:int"/>
          <xsd:element name="documentoReferencia" type="xsd:string" minOccurs="0"/>
          <xsd:element name="usuarioId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="notas" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="Pagination">
        <xsd:sequence>
          <xsd:element name="total" type="xsd:int"/>
          <xsd:element name="page" type="xsd:int"/>
          <xsd:element name="limit" type="xsd:int"/>
          <xsd:element name="totalPages" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Request y Response para GetAllMovimientos -->
      <xsd:element name="GetAllMovimientosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="page" type="xsd:int" minOccurs="0"/>
            <xsd:element name="limit" type="xsd:int" minOccurs="0"/>
            <xsd:element name="desde" type="xsd:string" minOccurs="0"/>
            <xsd:element name="hasta" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipoMovimientoId" type="xsd:int" minOccurs="0"/>
            <xsd:element name="productoId" type="xsd:int" minOccurs="0"/>
            <xsd:element name="ubicacionId" type="xsd:int" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetAllMovimientosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="movimientos" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="movimiento" type="tns:Movimiento" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="pagination" type="tns:Pagination" minOccurs="0"/>
            <xsd:element name="error" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Request y Response para GetMovimientoById -->
      <xsd:element name="GetMovimientoByIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetMovimientoByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="movimiento" type="tns:Movimiento" minOccurs="0"/>
            <xsd:element name="error" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Request y Response para GetMovimientosByProducto -->
      <xsd:element name="GetMovimientosByProductoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productoId" type="xsd:int"/>
            <xsd:element name="page" type="xsd:int" minOccurs="0"/>
            <xsd:element name="limit" type="xsd:int" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetMovimientosByProductoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="producto" type="xsd:anyType" minOccurs="0"/>
            <xsd:element name="movimientos" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="movimiento" type="tns:Movimiento" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="pagination" type="tns:Pagination" minOccurs="0"/>
            <xsd:element name="error" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Request y Response para GetTiposMovimiento -->
      <xsd:element name="GetTiposMovimientoRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetTiposMovimientoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tiposMovimiento" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="tipoMovimiento" type="tns:TipoMovimiento" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="error" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Request y Response para RegistrarMovimiento -->
      <xsd:element name="RegistrarMovimientoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="movimiento" type="tns:MovimientoCreate"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="RegistrarMovimientoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="id" type="xsd:int" minOccurs="0"/>
            <xsd:element name="error" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <!-- Mensajes -->
  <wsdl:message name="GetAllMovimientosRequest">
    <wsdl:part element="tns:GetAllMovimientosRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAllMovimientosResponse">
    <wsdl:part element="tns:GetAllMovimientosResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetMovimientoByIdRequest">
    <wsdl:part element="tns:GetMovimientoByIdRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetMovimientoByIdResponse">
    <wsdl:part element="tns:GetMovimientoByIdResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetMovimientosByProductoRequest">
    <wsdl:part element="tns:GetMovimientosByProductoRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetMovimientosByProductoResponse">
    <wsdl:part element="tns:GetMovimientosByProductoResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetTiposMovimientoRequest">
    <wsdl:part element="tns:GetTiposMovimientoRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetTiposMovimientoResponse">
    <wsdl:part element="tns:GetTiposMovimientoResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="RegistrarMovimientoRequest">
    <wsdl:part element="tns:RegistrarMovimientoRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RegistrarMovimientoResponse">
    <wsdl:part element="tns:RegistrarMovimientoResponse" name="parameters"/>
  </wsdl:message>

  <!-- Definición de Port Type -->
  <wsdl:portType name="MovimientosPort">
    <wsdl:operation name="GetAllMovimientos">
      <wsdl:input message="tns:GetAllMovimientosRequest"/>
      <wsdl:output message="tns:GetAllMovimientosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetMovimientoById">
      <wsdl:input message="tns:GetMovimientoByIdRequest"/>
      <wsdl:output message="tns:GetMovimientoByIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetMovimientosByProducto">
      <wsdl:input message="tns:GetMovimientosByProductoRequest"/>
      <wsdl:output message="tns:GetMovimientosByProductoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetTiposMovimiento">
      <wsdl:input message="tns:GetTiposMovimientoRequest"/>
      <wsdl:output message="tns:GetTiposMovimientoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="RegistrarMovimiento">
      <wsdl:input message="tns:RegistrarMovimientoRequest"/>
      <wsdl:output message="tns:RegistrarMovimientoResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Binding -->
  <wsdl:binding name="MovimientosBinding" type="tns:MovimientosPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAllMovimientos">
      <soap:operation soapAction="http://www.ejemplo.com/GetAllMovimientos"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovimientoById">
      <soap:operation soapAction="http://www.ejemplo.com/GetMovimientoById"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovimientosByProducto">
      <soap:operation soapAction="http://www.ejemplo.com/GetMovimientosByProducto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiposMovimiento">
      <soap:operation soapAction="http://www.ejemplo.com/GetTiposMovimiento"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarMovimiento">
      <soap:operation soapAction="http://www.ejemplo.com/RegistrarMovimiento"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Definición del servicio -->
  <wsdl:service name="MovimientosService">
    <wsdl:port binding="tns:MovimientosBinding" name="MovimientosPort">
      <soap:address location="http://localhost:3001/wsdl/movimientos"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>